body {
  font-family: Muli, avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

#header {
  #logo {
    color: white;
    width: 6rem;
    line-height: 50px;
    text-indent: 0;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
  }

  #main-nav {
    a {
      .fa {
        padding-right: 0.4em;
        font-size: 0.9em;
        opacity: 0.7;
      }
      padding: 0 20px 0 10px;
      opacity: 0.9;
    }

    #search-input {
      min-width: 16em;
    }
  }
}

#sidebar {
  .sidebar-title {
    margin-top: 30px;
  }
}

#banner-title {
  color: #fff;
  opacity: 0.85;
  font-weight: 500;
}

.features {
  width: 80%;
  margin: 2.5em auto;

  @media mq-mobile {
    width: 100%;
  }

  li {
    line-height: 2em;
    font-size: 1.2em;
    color: #666;
    font-weight: 700;

    .fa {
      color: #3982C7 !important;
      font-size: 1em;
      margin: 0 0.3em;
    }
  }
}
