#header {
  #logo {
    color: white;
    width: 6rem;
    line-height: 50px;
    text-indent: 0;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
  }

  #main-nav {
    a {
      .fa, .fab {
        padding-right: 0.4em;
        font-size: 0.9em;
        opacity: 0.7;
      }
      padding: 0 20px 0 10px;
      opacity: 0.9;
    }

    #search-input {
      min-width: 16em;
    }
  }
}

#mobile-nav {
  a {
    .fa, .fab {
      padding-right: 0.4em;
    }
  }
}

#sidebar {
  .sidebar-title {
    margin-top: 30px;
  }
}

#banner {
  #banner-title {
    color: #fff;
    opacity: 0.8;
    font-weight: 600;
  }

  #banner-share {
    .github-button, .twitter-follow-button {
      text-decoration: none;
      color: color-navy;
    }
  }

  .shields-images {
    a {
      text-decoration: none !important;
    }
  }
}

#content-wrap {
  .features {
    width: 88%;
    margin: 2.5em auto;

    @media mq-mobile {
      width: 100%;
    }

    li {
      line-height: 2em;
      font-size: 1em;
      color: #666;
      font-weight: 700;

      .fa, .fab {
        color: #637ABF;
        font-size: 1em;
        margin: 0 0.3em;
      }
    }
  }

  .post_sponsors {
    padding: 0 0 15px;
    .sponsors-wrapper-pc, .sponsors-wrapper-mobile {
      padding: 0 !important;
      background: transparent !important;

      .inner {
        padding: 0 !important;
        .sponsors {
          width: 100% !important;
          margin: 0 !important;
        }

        .sponsor_item {
          padding: 15px 8px;
          margin: 0 !important;
          a, img {
            width: 140px;
          }
        }
        .become-sponsor {
          padding: 8px 12px;
          width: auto !important;
          font-size: 0.9em;
        }
      }

      .backers_link {
        padding: 0.6em 0;
        a {
          text-decoration: none;
          color: #6C9ACC;
        }
      }
    }

    h1 {
      margin: 1.2em 0 0.9em !important;
      font-size: 1.2em !important;
      color: #609AD1 !important;
      i {
        color: #f73437;
        font-size: 0.75em;
        padding: 0.2em 5px;
      }
    }

    @media mq-mobile {
      &.sponsors-wrapper-mobile {
        display: block;
      }

      .sponsor_item {
        display: block !important;
        padding: 5px 0 !important;
      }

      .become-sponsor {
        display: inline-block;
      }

      h1 {
        margin: 0.6em 0 !important;
      }
      padding: 0.2em auto;
    }
  }

  .sponsors-wrapper-pc, .sponsors-wrapper-mobile {
    padding: 1.5em 0;
    background: color-sponsors;
    display: none;

    .sponsor_item {
      display: inline-block;
      margin: 0 10px;
      padding: 10px 5px;
      a, img {
        width: 180px;
        display: inline-block;
        vertical-align: middle;
      }
      &:hover {
        background: #aec8c6;
        border-radius: 0.5em;
        a {
          font-weight: 800;
          color: #ff300e !important;
          border-color: #ff300e !important;
        }
      }
    }
    .become-sponsor {
      text-decoration: none;
      font-weight: 700;
      color: #fb7d00;
      padding: 0.6em 1em;
      width: auto !important;
      border-radius: 2em;
      border: 1px solid #fb7d00;
    }

    @media mq-mobile {
      &.sponsors-wrapper-mobile {
        display: block;
      }

      .sponsor_item {
        display: block !important;
        padding: 20px 0;
      }
      padding: 0.2em auto;
    }
    @media mq-normal {
      &.sponsors-wrapper-pc {
        display: block;
      }
    }

    .inner {
      max-width: 1280px;
      padding: 0 20px;
      margin: 0 auto;
    }

    .sponsors {
      width: 88%;
      margin: 0 auto 2em;

      @media mq-mobile {
        width: 100%;
      }

      h1 {
        margin: 1.2em 0 0.9em;
        font-size: 1.8em;
        color: white;
        font-weight: 700;
      }
    }
  }

  .backers-list {
    a {
      display: inine;
      padding: 5px;
      img {
        border-radius: 50%;
      }
    }
    br {
      display: none;
    }
  }

  .page-not-found {
    margin: 10em auto 40px auto;
    width: 600px;
    text-align: center;
    min-height: 30em;

    h1 {
      position: relative;
      letter-spacing: -1px;
      line-height: 60px;
      font-size: 60px;
      font-weight: 100;
      margin: 0px 0 50px 0;
      text-shadow: 0 1px 0 #fff;
    }

    p {
      color: rgba(0, 0, 0, 0.5);
      margin: 20px 0;
      line-height: 1.6;
    }
  }
}

#footer {
  .inner {
    width: 88%;
    margin: 2.5em auto;

    @media mq-mobile {
      width: 100%;
    }
  }
}

#article-toc {
  &.fixed {
    #sidebar-ad-wrapper {
      margin-top: 10px
    }
    .sidebar-title {
      margin-top: 10px;
    }
    .sidebar-title {
      border-top: 2px solid #5F9AD1;
    }

    #carbonads {
      border-left: 2px solid color-link;

      .carbon-text {
        font-weight: 400;
      }

      .carbon-poweredby {
        font-size: 0.5em
        font-weight: 500;
      }
    }
  }

  #sidebar-ad-wrapper {
    margin-top: 30px
  }

  .sidebar-title {
    margin-top: 30px;
  }
}
