body {
  font-family: Muli, avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

#logo {
  color: red;
  width: 5rem;
  line-height: 50px;
  text-indent: 0;
  color: white;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
}

#main-nav {
  a {
    opacity: 0.8;
  }
}

#banner-title {
  color: #fff;
  opacity: 0.85;
  font-weight: 500;
}
